body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(red, yellow, orange, blue, green);
}

#container {
    width: 600px;
    height: 750px;
    margin: 20px auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #bdc7ce;
    margin: auto;
    top: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 6px 6px 8px black;
}

#keyboard {
    height: 400px;
}

.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    animation-name: example;
    animation-duration: 10s;
}

.number,
.empty {
    background-color: #ffffff;
}

.number,
.operator {
    cursor: pointer;
}

.operator:active,
.number:active {
    font-size: 23px;
}

.operator:focus,
.number:focus,
.empty:focus {
    outline: 2px dashed rgb(205, 31, 141);
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #20b2aa;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #ffa500;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #f08080;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #7d93e0;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #9477af;
}

span {
    margin: 50px;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.GFG {
    transform: scale(-1, 1);
    color: #000080;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

@keyframes example {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: black;
    }

    75% {
        background-color: green;
    }

    100% {
        background-color: white;
    }
}